*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: var(--corPrincipal);
}
hr{
  border: none;
  border-top: 1px solid var(--textColor);
}
:root{
  --corPrincipal: rgb(107, 191, 164);
  --textColor: rgb(237, 236, 227);
}
.header{
  background-color: var(--corPrincipal);
  height: 12vh;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.header .showMenu a{
  text-decoration: none;
  color: var(--textColor);

  font-size: 25px;
}
.header .logo a{
  font-family: 'Rubik', sans-serif;
  font-family: 'Square Peg', cursive;
  font-size: 60px;

  color: var(--textColor);
  text-decoration: none;
}
.header .config button{
  cursor: pointer;
  background: none;
  border: none;
}
.header .config button img{
  width: 50px;
}
.header .config button img:hover{
  transition: width 0.5s ease-in-out;
  width: 55px;
}
.main{
  height: 88vh;

  display: flex;
  flex-direction: column;
  align-items: center;

  justify-content: space-around;
}
.main .divButton .buttonDefault{
  background-image: linear-gradient(
    to right,
    #0ba360,
    #3cba92,
    #30dd8a,
    #2bb673
  );
  box-shadow: 0 4px 15px 0 rgba(23, 168, 108, 0.75);

  color: var(--textColor);
  border: none;
  border-radius: 3px;

  width: 50vw;
  height: 5vh;

  cursor: pointer;

  padding: 1vh;
}
.main .divButton .buttonDefault:hover{
  transition: width 0.5s ease-in-out;
  width: 55vw;
}